/*html, body {
  height: 100%;
  width: auto;
}

html {
  overflow: hidden;
  overflow-x: hidden;
}

/*body {
  background-image: url('part_one.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}*/

.reset {
  height: 30%;
  width: 35%;
  border-radius: 3%;
  background-color: rgba(255,255,255,0.8);
  /*border-radius: 10px;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.4);*/
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
  outline: none;
  padding: 1%;
  margin-left: 32%;
  margin-top: 10%;
  display: none;
  position: relative;
}

#current_pass {
  border-radius: 10px;
  outline: none;
  border: none;
  width: 75%;
  font-size: 14px;
  height: 15%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-left: 11%;
  margin-top: 5%;
  background-color: rgba(0,0,0,0.2);
  color: white;
}

#continue, #cancel, #cancel_2 {
  height: 30px;
  line-height: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-radius: 10px;
  background-color: rgba(179,0,0,0.75);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0.7%;
  letter-spacing: 1.5px;
  display: inline-block;
  position: fixed;
  margin-top: 3%;
  width: 10%;
}

#continue, #reset_button {
  margin-left: 3.6%;
}

#cancel {
  margin-left: 19.6%;
}

#continue:active, #continue:hover, #reset_button:active, #reset_button:hover, #cancel:active, #cancel:hover, #cancel_2:active, #cancel_2:hover  {
    background-color: rgba(179,0,0,0.9);
}

.poraka {
  font-size: 20.5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4%;
  display: inline-block;
  position: relative;
  margin-top: 3%;
  margin-left: 10%;
  color: rgba(102, 102, 102,1);
}

.poraka_2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15.3px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4%;
  display: inline-block;
  position: relative;
  margin-top: 3%;
  margin-left: 11%;
  color: rgba(102, 102, 102,1);
}

.reset_next {
  height: 33%;
  width: 35%;
  border-radius: 3%;
  background-color: rgba(255,255,255,0.8);
  /*border-radius: 10px;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.4);*/
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
  outline: none;
  padding: 1%;
  margin-left: 32%;
  display: none;
  position: relative;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top: 10%;
}

#reset_button {
  height: 30px;
  line-height: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-radius: 10px;
  background-color: rgba(179,0,0,0.75);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 0.7%;
  letter-spacing: 1.5px;
  display: inline-block;
  position: fixed;
  margin-top: 1%;
  margin-left: 4%;
  width: 10%;
}

#cancel_2 {
  margin-top: 1%;
  margin-left: 19.6%;
}

.footer {
  background-color: rgba(0, 0, 0, 1);
  color: rgb(185, 185, 146);
  text-align: center;
  font-size: 13.5px;
  display: inline-block;
  position: fixed;
  padding: 0.5%;
  left: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /* top: 625px; */
  bottom: 0;
  border-top: 1px dashed white;
  border-left: 1px dashed white;
  border-right: 1.5px dashed white;
  border-bottom: none;
  outline: none;
  border-radius: 3px;

  left: 0;
  width: 100%;
}

#footer_eden {
  margin-top: 0.5%;
  margin-right: 1.5%;
  font-weight: bold;
}

#footer_eden, #footer_dva {
  display: inline-block;
  position: relative;
  font-weight: bold;
  left: 20px;
}

#new_pass, #renew_pass {
  border-radius: 10px;
  outline: none;
  border: none;
  width: 75%;
  font-size: 14px;
  height: 15%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-left: 11%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(0,0,0,0.2);
  color: white;
}

#new_pass:focus, #renew_pass:focus, #current_pass:focus {
  box-shadow: 4px 5px 3px rgba(77, 77, 51,0.6);
  border: 1.3px solid rgba(179,0,0,0.75);
}

#new_pass:hover, #renew_pass:hover, #current_pass:hover {
  background-color: rgba(0,0,0,0.4);
}

#slika1 {
  width: 2%;
  height: 4%;
  display: none;
  position: fixed;
  margin-top: 1%;
  margin-left: -3%;
}

#slika2 {
  width: 2%;
  height: 4%;
  display: none;
  position: fixed;
  margin-top: 1%;
  margin-left: -3%;
}

.tooltip, .tooltip_1 {
  border: 1px rgba(230, 0, 0, 0.6) solid;
  outline: none;
  background-color: rgba(230, 0, 0, 1);
  border-radius: 6px;
  border-width: thin;
  width: 13%;
  height: 0.5%;
  text-align: center;
  font-size: 15.5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: white;
  font-weight: bold;
  padding: 0.5%;
  padding-bottom: 1%;
  line-height: 50%;
  position: fixed;
  margin-top: 1%;
  margin-left: 0.5%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}

.tooltip_1
{
  width: 16%;
  height: 1.9%;
  line-height: 85%;
  margin-top: 0.5%;
}


.tt_div {
  display: inline-block;
  position: fixed;
  float: right;
}

.strelka, .strelka_1 {
  visibility: hidden;
  border: none none 1.5px 1.5px solid rgba(230, 0, 0, 0.8);
  background-color: rgba(230, 0, 0, 1);
  width: 10px;
  height: 10px;
  position: fixed;
  margin-top: 1.6%;
  margin-left: 0.2%;
  opacity: 0;
  transition: opacity 1.5s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  -webkit-backface-visibility: visible;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  transform: rotate(135deg);
}

.strelka_1 {
  margin-top: 1.5%;
}
