.content{
    flex-direction: column;
    background-image: url("part_one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-color: rgb(115, 115, 115);
}
.user-informations, .edit-user-informations{
    margin: 15px auto;
    /*width: 50%;*/
    background-color: #fff;
    padding: 30px;

}

form{

}

a {
  text-decoration: none;
  color: black;
}
form .title{

}
form .form-item{
    padding: 5px;
}

form .form-item label{
    margin-bottom: 3px;
    color: rgb(179, 0, 0);/*#675d5d;*/
    display: block;
    font-weight: bold;
    font-size: 17.5px;
    letter-spacing: 2px;
}

form .form-item input{
    padding: 5px;
    width: 300px;
}


form .form-button{
    width: 315px;
    text-align: right;
    margin-top: 10px;
}

form .form-button button{
    padding: 8px 15px;
    box-shadow: none;
    border: none;
    background: green;
    color: white;
    font-size: 13px;
}

#view-0 {
  /*min-height: 60%;*/
  width: 30%;
  height: 45%;
  border-radius: 3%;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
  margin: auto;
  padding: 10px;
  margin-top: 8%;
  background-color: rgba(255,255,255,0.8);
  margin-left: 33%;
}

#view-1 {
  display: none;
  width: 32%;
  border-radius: 3%;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
  margin: auto;
  padding: 10px;
  margin-top: 4%;
  background-color: rgba(255,255,255,0.8);
  margin-left: 33%;
    height: 50%;
}

.header {
    text-align: right;
    box-shadow: 0 1px 1px 0px #e4e4e4;
    border-bottom: 4px rgba(153, 0, 0, 0.9) solid;
    background-color: white;/*rgba(153, 0, 0, 0.8);*/
}

#button_div{
    border-radius: 12px;
    border: none;
    width: 15%;
    padding: 0.5%;
    background-color: rgba(179,0,0,0.8);
    text-transform: uppercase;
    font-size: 16px;
    font-weight:bold;
    letter-spacing: 2.5px;
    color: white;
    outline: none;
    margin-top: 1%;
    margin-left: 1.5%;
    position: fixed;
}
#edit_button, #form_list_button {
  border-radius: 12px;
  border: none;
  width: 15%;
  padding: 0.5%;
  background-color: rgba(179,0,0,0.8);
  text-transform: uppercase;
  font-size: 16px;
  font-weight:bold;
  letter-spacing: 2.5px;
  color: white;
  outline: none;
    margin-top: 35px;
  margin-left: 1.5%;
  position: fixed;
}

#edit_button:active, #edit_button:hover, #form_list_button:active, #form_list_button:hover{
  padding: 0.6%;
  font-size: 17px;
  background-color: rgba(179,0,0,0.9);
}

.form-button {
  display: flex;
  position: fixed;
  margin-left: 6%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(102, 102, 102,1);
}

.form-item {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#changePassword {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.form-item input {
   /*rgba(204, 0, 0, 0.8);*/
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: text;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 1.5%;
  padding: 0.5%;
  font-size: 16px;
}

.form-item input:focus {
  box-shadow: 4px 5px 3px rgba(77, 77, 51,0.6);
  border: 1.3px solid rgba(176, 0, 0, 0.7);
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.form-item input:hover {
  background-color: rgba(0,0,0,0.4);
}

#chanege_pass_div {
  border: 1.5px dashed rgba(0,0,0,0.5);
  outline: none;
  width: 73%;
  padding: 0%;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 12.4%;
  margin-top: 3%;
}

#chanege_pass_div:hover {
  background-color: rgba(0,0,0,0.1);
}

#chanege_pass_div label {
  cursor: pointer;
  padding: 2%;
  border-radius: 10px;
  height: 20%;
  margin-bottom: 0;
}

#chanege_pass_div label:hover {
  background-color: rgba(0,0,0,0.1);
}

#back_button, #save_button {
  margin-top: 6%;
  border-radius: 12px;
  border: none;
  width: 11%;
  padding: 0.5%;
  background-color: rgba(179,0,0,0.8);
  text-transform: uppercase;
  font-size: 11px;
  font-weight:bold;
  letter-spacing: 2.5px;
  color: white;
  outline: none;
  position: fixed;
}

#back_button {
    margin-top: 40px;
  margin-right: 15%;
  margin-left: -2.5%;
}

#save_button {
    margin-top: 40px;
  margin-left: 9.3%;
}

#back_button:active, #back_button:hover, #save_button:active, #save_button:hover {
  padding: 0.7%;
  font-size: 11.2px;
  background-color: rgba(179,0,0,0.9);
}
